@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Newsapi.org</h1>
    <p class="lead">ASP.NET web framework.</p>
    @*<p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2 id="mydatatitle"></h2>
        <p id=mydataOculto>            
        </p>
        <p><a class="btn btn-default" id="mydataurl">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2  id="mydatatitle1"></h2>
        <p  id=mydataOculto1>  </p>
        <p><a class="btn btn-default" id="mydataurl1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2  id="mydatatitle2"></h2>
        <p id=mydataOculto2></p>
        <p><a class="btn btn-default" id="mydataurl2">Learn more &raquo;</a></p>
    </div>
</div>



<script src="~/LoB/News.js"></script>
